@import 'tailwindcss';

@theme {
  --color-*: initial;

  --font-sans--font-variation-settings: 'opsz' 32;

  --text-*: initial;
  --text-4xs: 0.6875rem;
  --text-4xs--line-height: 0.8125rem;
  --text-3xs: 0.75rem;
  --text-3xs--line-height: 1rem;
  --text-2xs: 0.8125rem;
  --text-2xs--line-height: 1.125rem;
  --text-xs: 0.9375rem;
  --text-xs--line-height: 1.25rem;
  --text-sm: 1rem;
  --text-sm--line-height: 1.3125rem;
  --text-base: 1.0625rem;
  --text-base--line-height: 1.375rem;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.5625rem;
  --text-xl: 1.375rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 2.125rem;
  --text-3xl: 2.125rem;
  --text-3xl--line-height: 2.5625rem;

  --tracking-*: initial;
  --tracking-tighter: -0.04em;
  --tracking-tight: -0.02em;
}

@theme inline {
  --font-sans: var(--font-inter);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
}

:root {
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-1: #111111;
    --gray-2: #191919;
    --gray-3: #222222;
    --gray-4: #2a2a2a;
    --gray-5: #313131;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #7b7b7b;
    --gray-11: #b4b4b4;
    --gray-12: #eeeeee;
  }
}
